body,
body * {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

body.index-php {
  background-color: #f5f5f5;
}

/**
 * ------------------------------
 * General Layout
 * ------------------------------
 */

#wpadminbar {
  padding: 10px;
  height: auto;
}

#adminmenumain,
#wpbody {
  margin-top: 20px;
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  width: 220px;
  background-color: #2d343c;
}

#wpcontent,
#wpfooter {
  /* margin-left: 220px; */
  margin-left: 250px;
}

.wrap {
  margin-top: 35px;
  margin-right: 50px;
}

.update-core-php h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
}

#adminmenu .wp-submenu {
  left: 220px;
}

#adminmenu .wp-submenu-head,
#adminmenu a.menu-top {
  padding-left: 10px;
  padding-right: 10px;
}

#adminmenu li.menu-top {
  min-height: 40px;
}

#adminmenu div.wp-menu-name {
  padding-top: 11px;
  padding-bottom: 11px;
}

#adminmenu div.wp-menu-image {
  margin-top: 3px;
  margin-right: 5px;
}

#adminmenu .wp-submenu a {
  padding-top: 8px;
  padding-bottom: 8px;
}

#adminmenu .wp-has-current-submenu ul > li > a,
.folded #adminmenu li.menu-top .wp-submenu > li > a {
  padding: 8px 12px 8px 20px;
}

.dashicons-before::before {
  font-size: 18px;
}

#collapse-button {
  padding-left: 10px;
  padding-right: 10px;
}

#collapse-button .collapse-button-icon {
  left: 10px;
}

#collapse-button .collapse-button-label {
  left: 15px;
}

#adminmenu .wp-has-current-submenu .wp-submenu {
  background-color: #23282d;
}

.theme-browser .theme .theme-name {
  height: 48px;
}

body:not(.is-fullscreen-mode) .interface-interface-skeleton {
  margin-top: 20px;
}

/**
 * ------------------------------
 * Content Layout (Table, etc)
 * ------------------------------
 */

.subsubsub {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subsubsub li {
  color: transparent;
}

.tablenav.top {
  margin-bottom: 20px;
}

.tablenav.bottom {
  margin-top: 15px;
}

table.widefat {
  border-width: 0;
  border-radius: 4px;
  /* background-color: transparent; */
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
}

.update-core-php table.widefat {
  border-width: 1px;
}

.plugins-php table.widefat {
  border-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
}

.plugins tr {
  /* background-color: transparent; */
}

.wp-list-table thead th,
.wp-list-table tfoot th,
table.comments thead th,
table.comments tfoot th {
  font-weight: 600;
}

.form-table tr {
  border-bottom: 1px solid #e5e5e5;
}

.form-table th {
  padding-top: 25px;
  padding-bottom: 25px;
}

.form-table td {
  padding-top: 20px;
  padding-bottom: 20px;
}

.plugins .plugin-title img {
  width: auto;
}

#welcome-panel {
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
}

.postbox {
  border-radius: 4px;
  border-width: 0;
  /* box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05); */
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.postbox-header {
  /* padding: 5px 10px 5px 0; */
  padding-right: 10px;
  border-color: #e4e7ea;
}

.postbox-header h2.hndle {
  padding-left: 25px;
  padding-right: 25px;
}

.postbox .inside,
#dashboard_right_now .inside,
#dashboard_quick_press .inside {
  padding: 10px 25px 20px;
}

#dashboard_quick_press form {
  margin: 0;
}

#dashboard_right_now .main {
  padding: 0;
}

#dashboard_primary .community-events,
#dashboard_primary .rss-widget,
#dashboard_primary .community-events-footer {
  padding-left: 25px;
  padding-right: 25px;
}

#dashboard_primary .activity-block,
#dashboard_primary .community-events li {
  padding-left: 0;
  padding-right: 0;
}

#dashboard_primary .activity-block {
  margin-left: 0;
  margin-right: 0;
}

.nav-tab {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#menu-management .menu-edit,
#menu-settings-column .accordion-container {
	border-radius: 4px;
	overflow: hidden;
}

/**
 * ------------------------------
 * Resonsiveness
 * ------------------------------
 */

@media (min-width: 961px) {
  .auto-fold .interface-interface-skeleton {
    left: 220px;
  }
}

@media only screen and (max-width: 960px) {
  .auto-fold #adminmenu a.menu-top {
    height: 40px;
  }

  .auto-fold #adminmenu div.wp-menu-image {
    margin-top: 5px;
  }

  .auto-fold #adminmenu .wp-menu-name {
    height: 40px;
  }

  .auto-fold #adminmenu .wp-submenu {
    background-color: #23282d;
  }

  body:not(.is-fullscreen-mode) .interface-interface-skeleton {
    margin-top: 0;
  }
}

@media screen and (max-width: 782px) {
  #wpadminbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrap {
    margin-top: 25px;
    margin-right: 30px;
    padding-left: 20px;
  }

  p.search-box {
    padding-right: 40px;
  }

  .form-table th {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .form-table td {
    padding-top: 10px;
    padding-bottom: 17px;
  }

  #adminmenumain,
  #wpbody {
    margin-top: 0;
  }

  .auto-fold #adminmenu li a {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  form .submit .button,
  .search-box .button {
    width: 100%;
  }

  .tablenav .actions,
  .tablenav .actions select,
  .tablenav .actions .button {
    width: 100%;
  }

  .tablenav .actions {
    padding-right: 0;
    margin-top: 30px;
  }

  .tablenav .actions select,
  #doaction2 {
    margin-right: 0;
  }

  .tablenav .actions select {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: none;
  }
}
